.calendar .free {
    background-color: #dfffc1;
}

.calendar .pending {
    background-color: lightgoldenrodyellow;
}

.calendar .accepted {
    background-color: lightsalmon;
}

.calendar .my_accepted {
    background-color: #9fff82;
}

.calendar .my_pending {
    background-color: #ffea9d;
}

.calendar .pending.my_pending {
    background: lightgoldenrodyellow repeating-linear-gradient(45deg, transparent, transparent 20px, #ffea9d 20px, #ffea9d 40px);
}