{% extends "item.html" %}
{% load bootstrap_toolkit %}

{% block reservations_managment %}

<h3>Edytuj rezerwację</h3>
<form action="{% url 'manage_reservation' reservation.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form edit_form layout="vertical" %}
{#    {{ edit_form|as_bootstrap }}#}
    <input name="edit" type="submit" value="Zapisz" />
    <script type="text/javascript">
        $(function() {
            $('#id_start_0').datepicker()
            $('#id_end_0').datepicker()
            $('.errorlist li').addClass('alert')
        })
    </script>
</form>

{% endblock %}
