{% extends "base.html" %}

{% block content %}
<h2>Lista sprzętu:</h2>
<div class="tabbable">
    <ul class="nav nav-tabs">
{#        <li class="active"><a href="#tab1" data-toggle="tab">Kajaki górskie</a></li>#}
        {% for category in categories %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="#tab{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for category in categories %}
        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab{{ category.id }}">
            <table class="table">
            <tr>
                <th>nazwa</th>
                <th>cena</th>
                <th>dostępność</th>
            </tr>
            {% for item in category.stuff_set.all %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ item.category.price.value }}</td>
                    <td><a class="btn btn-small" href="{% url 'item' item.id %}"><i class="icon-arrow-right"></i></a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% endfor %}
{#        <div class="tab-pane" id="tab2">Kajaki nizinne</div>#}
{#        <div class="tab-pane" id="tab3">Kanady</div>#}
    </div>
</div>

{% endblock %}